<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TempSourceDb" connectionString="Host=localhost;Database=remp_sys_ch;UserName=root;Password=123456789;port=3306;Allow Zero Datetime=true;CharSet=utf8;Max Pool Size = 500"
        providerName="MySql" />
    <add name="DistinationDb" connectionString="Host=localhost;Database=test;UserName=root;Password=123456789;port=3306;Allow Zero Datetime=true;CharSet=utf8;Max Pool Size = 500"
        providerName="MySql" />
    <add name="TestAccessDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=d:\Testadb.mdb;"
        providerName="OleDb" />
    <add name="TestExcelDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\TestShet1.xls;"
        providerName="OleDb" />    
  </connectionStrings>
</configuration>